/*
University of L'Aquila 2015/2016
BiblioManager project
Authors: Vincenzo Lanzieri, Angelo Iezzi
Professor: Giuseppe Della Penna
*/
/* 
    Created on : 1-lug-2016, 10.32.51
    Author     : Angelo Iezzi
*/

/**
 * Table of Contents:
 * 
 * 0.0 - General
 * 1.0 - Reset
 * 2.0 - Header
 * 3.0 - Navigation
 * 4.0 - Content
 *  4. - Author
 *  4. - Catalog
 *  4. - Community
 *  4. - Details Publication
 *  4. - Home
 *  4. - Review
 * 5.0 - Section
 *  - Footer
 *  - Other
 *  - Media Queries
 * -----------------------------------------------------------------------------
 */


/**
 * 0.0 General
 * -----------------------------------------------------------------------------
 */
@import url("http://fonts.googleapis.com/css?family=Sintony:400,700");

.margin-top-0 { margin-top:0px!important; }
.margin-top-5 { margin-top:5px!important; }
.margin-top-10 { margin-top:10px!important; }
.margin-top-15 { margin-top:15px!important; }
.margin-top-20 { margin-top:20px!important; }
.margin-top-25 { margin-top:25px!important; }
.margin-top-30 { margin-top:30px!important; }
.margin-top-40 { margin-top:40px!important; }
.margin-top-50 { margin-top:50px!important; }
.margin-top-60 { margin-top:60px!important; }
.margin-top-70 { margin-top:70px!important; }
.margin-top-80 { margin-top:80px!important; }
.margin-top-90 { margin-top:90px!important; }
.margin-top-100 { margin-top:100px!important; }
.margin-top-150 { margin-top:150px!important; }

.margin-right-5 { margin-right:5px!important; }
.margin-right-10 { margin-right:10px!important; }
.margin-right-15 { margin-right:15px!important; }
.margin-right-20 { margin-right:20px!important; }
.margin-right-30 { margin-right:30px!important; }
.margin-right-40 { margin-right:40px!important; }
.margin-right-50 { margin-right:50px!important; }

.margin-bot-5 { margin-bottom:5px!important; }
.margin-bot-10 { margin-bottom:10px!important; }
.margin-bot-15 { margin-bottom:15px!important; }
.margin-bot-20 { margin-bottom:20px!important; }
.margin-bot-30 { margin-bottom:30px!important; }
.margin-bot-40 { margin-bottom:40px!important; }
.margin-bot-50 { margin-bottom:50px!important; }
.margin-bot-100 { margin-bottom:100px!important; }

.margin-left-5 { margin-left:5px!important; }
.margin-left-10 { margin-left:10px!important; }
.margin-left-15 { margin-left:15px!important; }
.margin-left-20 { margin-left:20px!important; }
.margin-left-30 { margin-left:30px!important; }
.margin-left-40 { margin-left:40px!important; }
.margin-left-50 { margin-left:50px!important; }

.margin-all-5 { margin:5px!important; }
.margin-all-10 { margin:10px!important; }
.margin-all-15 { margin:15px!important; }
.margin-all-20 { margin:20px!important; }
.margin-all-30 { margin:30px!important; }
.margin-all-40 { margin:40px!important; }
.margin-all-50 { margin:50px!important; }

.padding-top-0 { padding-top:0px!important; }
.padding-top-5 { padding-top:5px!important; }
.padding-top-10 { padding-top:10px!important; }
.padding-top-15 { padding-top:15px!important; }
.padding-top-20 { padding-top:20px!important; }
.padding-top-30 { padding-top:30px!important; }
.padding-top-40 { padding-top:40px!important; }
.padding-top-50 { padding-top:50px!important; }
.padding-top-60 { padding-top:60px!important; }
.padding-top-70 { padding-top:70px!important; }
.padding-top-80 { padding-top:80px!important; }
.padding-top-90 { padding-top:90px!important; }

.padding-right-0 { padding-right:0px!important; }
.padding-right-5 { padding-right:5px!important; }
.padding-right-10 { padding-right:10px!important; }
.padding-right-15 { padding-right:15px!important; }
.padding-right-20 { padding-right:20px!important; }
.padding-right-30 { padding-right:30px!important; }
.padding-right-40 { padding-right:40px!important; }
.padding-right-50 { padding-right:50px!important; }

.padding-bot-0 { padding-bottom:0px!important; }
.padding-bot-5 { padding-bottom:5px!important; }
.padding-bot-10 { padding-bottom:10px!important; }
.padding-bot-15 { padding-bottom:15px!important; }
.padding-bot-20 { padding-bottom:20px!important; }
.padding-bot-30 { padding-bottom:30px!important; }
.padding-bot-40 { padding-bottom:40px!important; }
.padding-bot-50 { padding-bottom:50px!important; }

.padding-left-0 { padding-left:0px!important; }
.padding-left-5 { padding-left:5px!important; }
.padding-left-10 { padding-left:10px!important; }
.padding-left-15 { padding-left:15px!important; }
.padding-left-20 { padding-left:20px!important; }
.padding-left-30 { padding-left:30px!important; }
.padding-left-40 { padding-left:40px!important; }
.padding-left-50 { padding-left:50px!important; }

.padding-all-0 { padding:0px; }
.padding-all-5 { padding:5px!important; }
.padding-all-10 { padding:10px!important; }
.padding-all-15 { padding:15px!important; }
.padding-all-20 { padding:20px!important; }
.padding-all-30 { padding:30px!important; }
.padding-all-40 { padding:40px!important; }
.padding-all-50 { padding:50px!important; }

.nodecoration {
    list-style-type: none;
}

.round-3 { border-radius: 3px !important; }
.round-5 { border-radius: 5px !important; }
.round-10 { border-radius: 10px !important; }

.dred{color:darkred;}
.blue {color:#036;}
.green {color:#9c6;}
.black {color:black;}
.white {color:#fff;}
.lobster{color:#D94C3A;}
.lobsterBack{background-color: #D94C3A!important;}
.beigeBack{background-color: #EDDBC3!important;}

.font-2x {font-size: 1.2em;}
.font-3x {font-size: 1.5em;}
.font-4x {font-size: 2em;}

.justify {text-align: justify;}
.center {text-align: center;}
.bold{font-weight: bold;}

.oscure{
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    
    opacity: 0.9; 
}

body {
    /**background-color: #EFE5D3;*/ 
}


/**
 * 1.0 Reset
 * -----------------------------------------------------------------------------
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    max-width: 100%;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
    color: #2b2b2b;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    
}

a {
    color: #218b8c;
    text-decoration: none !important;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a:active,
a:hover {
    color: #266a88;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
    margin: 36px 0 12px;
}

h1 {
    font-size: 26px;
    line-height: 1.3846153846;
}

h2 {
    font-size: 24px;
    line-height: 1;
}

h3 {
    font-size: 22px;
    line-height: 1.0909090909;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
}

h5 {
    font-size: 18px;
    line-height: 1.3333333333;
}

h6 {
    font-size: 16px;
    line-height: 1.5;
}

address {
    font-style: italic;
    margin-bottom: 24px;
}

abbr[title] {
    border-bottom: 1px dotted #2b2b2b;
    cursor: help;
}

b,
strong {
    font-weight: 700;
}

cite,
dfn,
em,
i {
    font-style: italic;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

p {
    margin-bottom: 24px;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 15px;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    line-height: 1.6;
}

pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote {
    color: #767676;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2631578947;
    margin-bottom: 24px;
}

blockquote cite,
blockquote small {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

small {
    font-size: smaller;
}

big {
    font-size: 125%;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

dl {
    margin-bottom: 24px;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 24px;
}

ul,
ol {
    list-style: none;
    margin: 0 0 0 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin: 0 0 0 20px;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 24px;
    padding: 11px 12px 0;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

td {
    border-width: 0 1px 1px 0;
}

del {
    color: #767676;
}

hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 23px;
}


/**
 * 2.0 Header
 * -----------------------------------------------------------------------------
 */

header {
    background-color: #5D1D17;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 100;
    height: 80px;
    height: 80px !important;
}

header .header-logo {

}

header .navbar-header-menu .navbar-brand { 
    padding:0px!important;
}

header .navbar-header-menu .navbar-brand { 
    padding:0px!important;
}

header .navbar-header-menu {
    margin-bottom: 0px;
    background-color: #fff;
    border-color: #fff;
    min-height:0px;
}

.title-site{
    position: fixed;
    top: -10px; 
    z-index: 100;
}

.logo{
    position: fixed;
    top: 20px; 
    z-index: 100;
    width: 50px;
    height:40px;
    color: #ffffff;
}

.uppermenu{
    position: fixed;
    top: 30px; 
    z-index: 100;
    color: #ffffff;
}

/**
 * 3.0 - Navigation 
 * -----------------------------------------------------------------------------
 */
.navbar-default{
    background-color: #D94C3A;
}

.navbar{
    border-style: none;
    border-radius: 0px; 
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    position: fixed; 
    top: 80px; 
    width: 100%; 
    z-index: 100;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.2)0 0 5px;
}

.navbar-nav{
    
}

.navbar-nav > li > a{
    color: #EDDBC3 !important;
}

.navbar-nav > li > a:hover{
    color: #5D1D17 !important;
}

.navbar-nav > li > a:focus{
    color: #5D1D17 !important;
}

.navbar-nav > li > a:active{
    color: #5D1D17!important;
}

.advance-search{
    color: #EDDBC3;
    margin-top: 8px;
}

.advance-search:hover{
    color: #5D1D17;
}

.advance-search:focus{
    color: #5D1D17;
}

.container > .navbar-collapse{
    margin-left: -15px;
}


/**
 * 4.0 Content
 * -----------------------------------------------------------------------------
 */
.user-name:hover{
     color: #D94C3A;
}

.user-name{
     color: #2b2b2b;
}

.pageContent{
    margin-top: 130px;
    min-height: 770px;
}

.title-site{
    color: #ffffff;
    position: relative;
    
}

.error{
    color: #D94C3A;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile{
    display:none;
}

.imgprofile{
    width: 120px;
    height: 100px;
    margin-left: 15px;
}

.cover-pubb{
    min-height: 100px;
    min-width: 50px;
    margin-bottom: 15px;
}

.search-box{
    color: #fff;
    background: -moz-linear-gradient(-45deg,rgba(89,24,21,1) 0,rgba(144,85,48,1) 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(89,24,21,1)),color-stop(100%,rgba(144,85,48,1)));
    background: -o-linear-gradient(-45deg,rgba(89,24,21,1) 0,rgba(144,85,48,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(89,24,21,1) 0,rgba(144,85,48,1) 100%);
    border: solid 1px #c6b198;
    -moz-box-shadow: 0 0 0 3px #591815,0 0 0 5px #c6b198;
    -webkit-box-shadow: 0 0 0 3px #591815,0 0 0 5px #c6b198;
    box-shadow: 0 0 0 3px #591815,0 0 0 5px #c6b198;
}

.columnHome{
    margin-top: 40px;
    padding-bottom: 40px;
}

.moreactive{
   margin: 10px;
}

.itemMenu{
    color: #EDDBC3;
}

.itemMenu:hover{
    color: #D94C3A;
}

.aItemCustom{
    color: #5D1D17;
}

.aItemCustom:hover{
    color: #D94C3A;
}

.alert-description{
    color: #666;
    background-color: #f9f9f9;
    border-color: #F1F1F1;
}


/**
 * 4. Catalog
 * -----------------------------------------------------------------------------
 */

.col-selection{
    width: 100px;
}

.col-edit{
    width: 100px;
}

.fa-custom{
    font-size: 1.5em!important;
}

.custom-title{
    font-size: 20px;
}

.me-line{
    margin-top: -5px;
}

.catalog-item{
    margin-bottom: 50px;
}

.vertical-border{
    padding-left: 24px;
    border-left: solid 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.customPagination{
    color: #333!important;
}

.customPagination:hover{
    color: #333!important;
}

.customPagination:active{
    color: #D94C3A!important;
}

.customPagination:focus{
    color: #D94C3A!important;
}


/**
 * 4. Community
 * -----------------------------------------------------------------------------
 */

.users-letter {
    font-size: 15px; 
    margin-bottom: 15px;
    line-height: 32px;
    padding-top: 0;
    font-family: 'Libre Baskerville',georgia,serif;
    border-bottom: solid 1px #ccc;
    border-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.users-letter>ul>li>a {
     color: black; 
}

.users-letter>ul>li>a:focus{
     color: #D94C3A!important; 
}

.users-letter>ul>li>a:hover{
     color: #D94C3A; 
}

.promote{
    color: green;
}

.degrade{
    color: darkred;
}

.community-user{
    color: #2b2b2b;
}

.itemCommunity:hover{
     color: #D94C3A;
}


/**
 * 4. Details Publication
 * -----------------------------------------------------------------------------
 */

.titlePublication .title{
    margin: 12px 0 36px;
}

.chapter-title{
    font-weight: bold;
}

.gallerycontainer{
    position: relative;
}

.thumbnail img{
    margin: 0 5px 5px 0;
}

.thumbnail:hover{
    background-color: transparent;
}

.thumbnail div{ 
    position: absolute;
    background-color: #F9F9F9;
    padding: 5px;
    left: -1000px;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius: 4px;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail div img{ 
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover div{ 
    visibility: visible;
    top: 0;
    left: 195px;
    z-index: 50;
    width: 400px;
}

.badge-custom{
    background-color: #D94C3A!important;
}

.no-img{
    width: 100px;
}

/**
 * 4. Home
 * -----------------------------------------------------------------------------
*/
 figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}
figcaption {
    position: absolute;
    background: black;
    background: rgba(0,0,0,0.75);
    color: white;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
    opacity: 0.7;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius:    0 0 4px 4px;
    border-radius:         0 0 4px 4px;
}
figure.imgHome:before {
    content: "i";
    position: absolute;
    font-weight: 800;
    background: black;
    background: rgba(255,255,255,0.75);
    text-shadow: 0 0 5px white;
    color: black;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius:    12px;
    border-radius:         12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    -moz-transition: all 0.6s ease;
    opacity: 0.75;
}
figure:hover:before {
    opacity: 0;
}

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

 .caption{
    border-bottom-right-radius:5px;
    background-color: black;
    padding-top:16px;
    padding-bottom:15px;
    padding-left: 10px;
    height:40px;
    opacity: 0.7;
    width:100%;
    color:white;
    overflow:hidden;
    text-overflow: ellipsis;    
}

.thebox-content{
    margin-top: -50px;
    height: 50px;
}

.thebox-content:hover{
    margin-top: -100px;
    height: 100px;
}


/**
 * 4. Insert Pubblication
 * -----------------------------------------------------------------------------
 */

.delateitem{
    color: darkred;
}

.listitem{
    margin-left: 0px;
    margin-bottom: 0px;
}




/**
 * 4. Review
 * -----------------------------------------------------------------------------
 */

.notApprovedReview {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.approvedReview {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    background-color: #f9f9f9;
    border-color: #F1F1F1;
}


/**
 * 5.0 Section
 * -----------------------------------------------------------------------------
 */

section {
	min-height: 300px;
	background-color: #FFF;
	padding: 0 0 10px 0;
}

section .container{
	background-color: #fff;
	margin-top:20px;
	margin-bottom:20px;
}


/**
 * Footer
 * -----------------------------------------------------------------------------
 */

footer{
    border-top:1px solid #666;
    min-height: 80px;
    background-color: #5D1D17;
    text-align:center;
    /*font-family: tahoma,verdana,arial,helvetica;
    position: absolute;
    bottom: 0px;*/
    margin-top:10px;
    min-width: 100%; 
    color:#ffffff;
    clear: both;
    padding-top:15px;
    padding-bottom:5px;
}



/**
 * Other
 * -----------------------------------------------------------------------------
 */

/*google recaptcha group*/
#recaptcha_image img { width:200px; height: 55px;}
/*end google recaptcha group*/

#contact-gmap {
    height:500px;
    margin:10px 0;
}

/*CUSTOM BS*/

.btn-custom {
    border-radius:0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius:    0px!important;
    background-color:#B3A06C;
    border-color:#B3A06C;
	
}

.btn-pub {
    width: 175px;
	
}

input[type=text].error,
input[type=password].error,
input[type=email].error,
select.error,
textarea.error {
	border-color: #C93605;
}

label.error, span.error {
	width: 100%;
	text-align: left;
	display: block;
	color: #C93605;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
	-moz-text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
	-webkit-text-shadow: 0px 1px 1px rgba(164, 44, 4, 0.20);
	font-size: 12px;
}


/**
 * Media Queries
 * -----------------------------------------------------------------------------
 */

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

@media screen and (max-width: 400px) {}
@media screen and (min-width: 401px) {}
@media screen and (min-width: 594px) {}
@media screen and (max-width: 785px) {}
@media screen and (min-width: 673px) {}
@media screen and (min-width: 783px) {}
@media screen and (min-width: 810px) {}
@media screen and (min-width: 846px) {}
@media screen and (min-width: 1008px) {}
@media screen and (min-width: 1040px) {}
@media screen and (min-width: 1080px) {}
@media screen and (min-width: 1110px) {}
@media screen and (min-width: 1218px) {}
@media screen and (min-width: 1260px) {}
                                    


@media (max-width: 768px) {}


@media (min-width: 768px) {
    .imageHome{
        height: 345px;
        width: 345px;
    }   
    
     .imageCatalog{
        height: 282px;
        width: 282px;
    }
    
    .thumbnail:hover div{ 
        visibility: visible;
        top: 0;
        left: 120px;
        z-index: 50;
        width: 350px;
    }
}


@media (min-width: 992px) {    
    .imageHome{
        height: 293px;
        width: 293px;
    }  
    
    .imageCatalog{
        height: 293px;
        width: 293px;
    }
    
    .thumbnail:hover div{ 
        visibility: visible;
        top: 0;
        left: 175px; 
        z-index: 50;
        width: 400px;
    }
}


@media (min-width: 1200px) {
    .imageHome{
        height: 230px;
        width: 230px;
    }   
    
    .imageCatalog{
        height: 262.5px;
        width: 262.5px;
    }
    
    .thumbnail:hover div{ 
        visibility: visible;
        top: 0;
        left: 210px; 
        z-index: 50;
        width: 450px;
    }
}



@media only screen and (min-width: 960px){}
@media only screen and (min-width: 768px) and (max-width: 959px){}
@media only screen and (max-width: 767px) {}
