<div class="container">
    <div class="pageAuthor">
        <div class="section section-pageAuthor-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Gestione degli Autori</h1>
                </div>
            </div>
        </div>
        <div class="section section-pageAuthor-insertAuthor"> 
             <div class="row">
                <div class="col-lg-12">
                    <h3> Aggiungi un nuovo autore</h3>
                    <form method="post" action="author" id="formAuthorInsert" class="form-horizontal">     
                        <div class="form-group">
                            <label for="inputAuthorName" class="col-sm-2 control-label bold">Nome</label>
                            <div class="col-sm-6">
                                <input id="inputAuthorName" class="form-control" name="authorName" value="${name!''?html}" placeholder="Inserisci il mone dell'autore" />
                            </div>
                        </div>        
                        <#if errorAuthorName??>
                        <div class="error">
                            ${errorAuthorName?html}
                        </div>
                        </#if>

                        <div class="form-group">
                            <label for="inputAuthorSurname" class="col-sm-2 control-label bold">Cognome</label>
                            <div class="col-sm-6">
                                <input id="inputAuthorSurname" class="form-control" name="authorSurname" value="${surname!''?html}" placeholder="Inserisci il cognome dell'autore" />
                            </div>
                        </div>        
                        <#if errorAuthorSurname??>
                        <div class="error">
                            ${errorAuthorSurname?html}
                        </div>
                        </#if>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value='Aggiungi' name='submitAuthor' type='submit' class="btn btn-default"/>
                                    <a href="${url}?publicationId=${publicationId}" class="btn btn-default col-xs-offset-1">Torna alla pubblicazione</a>
                                </span>
                            </div>
                        </div>            
                    </form>
                </div>
             </div>
        </div>
            
        <div class="section section-pageAuthor-listAuthors">
             <div class="row">
                <div class="col-lg-12">
                    <h3 class=""> Lista degli autori</h3>
                    <form method="post" action="author" id="formSelectedAuthor" class="form-horizontal">     
                        <#if (authors?? && authors?size>0)>
                        <table id="allAuthors" class="table-responsive table-hover table">
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Cognome
                                </th>
                                <th class="col-edit">
                                    Gestisci
                                </th>
                                <th class="col-selection">
                                    Seleziona
                                </th>
                            </tr>
                            <#list authors as item>
                                <tr>
                                    <td>
                                        ${strip_slashes(item.name)!"''"?html}
                                    </td>
                                    <td>
                                        ${strip_slashes(item.surname)!"''"?html}
                                    </td>
                                    <td>
                                        <a href="author?authorId=${item.key}&currentNameAuthor=${item.name}&currentSurnameAuthor=${item.surname}#anchor">Modifica</a>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-control" name="authorSelected" value="${item.key}" <#list publicationAuthors as item1><#if (item.key == item1.key)>checked="checked"</#if></#list>/>
                                    </td>
                                </tr>
                            </#list>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="submit" class="form-control" name="linkAuthor" value="Scegli!" />
                                </td>
                            </tr>
                        </table>
                        <#else>
                        <span class="bold">Nessun autore presente.</span>
                        </#if>

                    </form>
                </div>
             </div>
        </div>
        
        <#if authorId??>
        <a name="anchor"></a>
        <div class="section section-pageAuthor-editAuthor">
             <div class="row">
                <div class="col-lg-12">
                    <h3 class=""> Modifica autore</h3>
                    <form method="post" action="author" id="formAuthorUpdate" class="form-horizontal">     
                        <div class="form-group">
                            <label for="updateAuthorName" class="col-sm-2 control-label bold">Nome</label>
                            <div class="col-sm-6">
                                <input name="authorId" value="${authorId!''?html}" type="hidden"/>
                                <input id="updateAuthorName" class="form-control" name='authorName' value="${currentNameAuthor!''?html}" placeholder="Modifica nome autore" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateAuthorSurname" class="col-sm-2 control-label bold">Cognome</label>
                            <div class="col-sm-6">
                                <input id="updateAuthorSurname" class="form-control" name='authorSurname' value="${currentSurnameAuthor!''?html}" placeholder="Modifica cognome autore" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiorna" name="submitAuthor" type="submit" class="btn btn-default"/>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
             </div>
        </div>
        </#if>
    </div>
</div>

