<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="center">Gestione degli Autori</h1>
            
            <h3 class="row"> Aggiungi un nuovo autore</h3>
            <form method="post" action="author" id="formAuthor" class="form-horizontal">     
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label bold">Nome</label>
                    <div class="col-sm-6">
                        <input id="AuthorName" class="form-control" name="authorName" value="${name!''?html}" placeholder="Inserisci il mone dell'autore" />
                    </div>
                </div>        
                <#if errorAuthorName??>
                <div class="error">
                    ${errorAuthorName?html}
                </div>
                </#if>
                
                <div class="form-group">
                    <label for="inputSurname" class="col-sm-2 control-label bold">Cognome</label>
                    <div class="col-sm-6">
                        <input id="authorSurname" class="form-control" name="authorSurname" value="${surname!''?html}" placeholder="Inserisci il cognome dell'autore" />
                    </div>
                </div>        
                <#if errorAuthorSurname??>
                <div class="error">
                    ${errorAuthorSurname?html}
                </div>
                </#if>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>
                            <input value='Aggiungi' name='submitAuthor' type='submit' class="btn btn-default"/>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="publication" class="btn btn-default" name="submitPublication">Torna indietro</a>
                    </div>
                </div>
                
            </form>
            
            <h3 class="row"> Lista degli autori</h3>
                <div class="col-lg-12">
                    <#if (authors?? && authors?size>0)>
                    <table id="allAuthors">
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Cognome
                            </th>
                            <th>
                                Gestisci
                            </th>
                        </tr>
                        <#list authors as item>
                            <tr>
                                <td>
                                    ${strip_slashes(item.name)!"''"?html}
                                </td>
                                <td>
                                    ${strip_slashes(item.surname)!"''"?html}
                                </td>
                                <td>
                                    <a href="author?authorId=${item.key}&currentNameAuthor=${item.name}&currentSurnameAuthor=${item.surname}">Modifica</a>
                                </td>
                            </tr>
                        </#list>
                    </table>
                    <#else>
                    <span class="bold">Nessun autore presente.</span>
                    </#if>
                </div>
            </div>
            
            <#if authorId??>
            <h3 class="row"> Modifica autore</h3>
            <form method="post" action="author" id="formAuthor" class="form-horizontal">     
                <div class="form-group">
                    <label for="updateName" class="col-sm-2 control-label bold">Nome</label>
                    <div class="col-sm-6">
                        <input name="authorId" value="${authorId!''?html}" type="hidden"/>
                        <input id="authorName" class="form-control" name='authorName' value="${currentNameAuthor!''?html}" placeholder="Modifica nome autore" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="updateSurname" class="col-sm-2 control-label bold">Cognome</label>
                    <div class="col-sm-6">
                        <input id="authorSurname" class="form-control" name='authorSurname' value="${currentSurnameAuthor!''?html}" placeholder="Modifica cognome autore" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>
                            <input value='Modifica' name='submitAuthor' type='submit' class="btn btn-default"/>
                        </span>
                    </div>
                </div>
            </form>
            </#if>
        </div>
    </div>
</div>