<div class="container">
    <div class="pagePublicationDetails">
        <#if publication??>
        <div class="section section-publication-tools margin-top-50">
            <#if (me.state==0 || (me.state == 1 && me.key == publisher.key))>
            <span class="custom-title">Gestione pubblicazione:</span>
            <div class="btn-group me-line" role="group" aria-label="...">
                <a href="managePublication?publicationId=${publication.key}" class="btn btn-default" title="Modifica">
                    <i class="fa fa-pencil fa-custom" aria-hidden="true"></i>
                </a>

                <a href="delatePublication?publicationId=${publication.key}" class="btn btn-default" title="Cancella">
                    <i class="fa fa-trash-o fa-custom" aria-hidden="true"></i>
                </a>

                <a href="history?historyData&publicationId=${publication.key}" class="btn btn-default" title="Storico">
                    <i class="fa fa-history fa-custom" aria-hidden="true"></i>
                </a>
            </div>
            </#if>
        </div>
        <div class="section section-publication-conten margin-top-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <figure class="imageCard">
                        <#if publication.cover??>
                        <img src= "${strip_slashes(publication.cover.uri)?html}" alt="${strip_slashes(publication.cover.description)?html}" class="img-thumbnail img-responsive"/>
                        <#else>
                        <img src="img/book.png" alt="Copertina Defualt" class="img-thumbnail img-responsive"/>
                        </#if>
                    </figure>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="margin-top-10"> 
                        <#if (publication.authors?? && publication.authors?size>0)>
                            <#list publication.authors as item>
                                ${strip_slashes(item.name!'')?html} ${strip_slashes(item.surname!'')?html}<#if item.key != publication.authors?last.key>,</#if> 
                            </#list>
                            <#else> 
                            <span class="bold"> Non sono presenti autori</span>
                        </#if>
                    </div>
                    <div class="titlePublication">
                        <h1 class="title">
                            ${strip_slashes(publication.title!'')?html}
                            
                            <!--
                            <#if (userStatus?? && userStatus)>
                            <span>
                            <a href="managePublication?generalData&publicationId=${publication.key}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            </span>
                            </#if>
                            -->
                        </h1>
                    </div>
                    <div class="publiher margin-top-10">
                        <span>Inserito da </span>
                        <#if publisher??>
                            ${strip_slashes(publisher.surname?html)?capitalize}&nbsp;${strip_slashes(publisher.name?html)?capitalize}
                        </#if>
                        <br/>
                        <span class="bold">Editore:</span>
                        <span class="resume">${strip_slashes(publication.editor.name)?html}</span> 
                        <br/>
                        <span class="">Isbn: </span> 
                        <span class='resume'>${publication.isbn?html}</span> 
                        <br/>
                        <span class="resume">${publication.publicationDate?html}, pp. ${publication.pageNumber?html}</span>
                        <br/>
                        <span class="bold">Lingua: </span>
                        <span class="resume">${strip_slashes(publication.language)?html}</span> 
                        <br/>
                        <span class="bold">Keywords:</span>
                        <span class='resume'>
                        <#if (publication.keywords?? && publication.keywords?size>0)>
                            <#list publication.keywords as item>
                                ${strip_slashes(item.name)?html}&nbsp;
                            </#list>
                        <#else>
                            Nessuna keywords presente.
                        </#if>
                        </span>
                    </div>
                    <div id="advicesPublication" class="margin-top-30">
                        <#if advised??>
                        <form method="post" action="details" name="votePublication" class="form-horizontal">
                            <button class="btn btn-default" name="submitPublication" id="pulsante"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vota</button>
                        </form>
                        <#else>
                        <div class="margin-bottom-10"> Hai consigliato questa pubblicazione</div>
                        </#if>
                        <div class="margin-bottom-10 bold"> 
                            <div>Numero consigli:&nbsp;<span id="numberAdvices">${publication.like}</span></div> 
                        </div>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="margin-top-30">
                        <h2>Autori:</h2>
                        <#if (publication.authors?? && publication.authors?size>0)>
                            <ul class="nodecoration">
                                <#list publication.authors as item>
                                <li>${strip_slashes(item.name)!"''"?html}&nbsp;${strip_slashes(item.surname)!"''"?html}</li>
                                </#list>   
                            </ul>
                        <#else> 
                        <span class="bold"> Non sono presenti autori</span>
                        </#if>  
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="margin-top-30">
                        <span class="bold">Descrizione:</span>
                        <div class='resume'>${strip_slashes(publication.description!'Nessuna descrizione.')?html}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-publication-sources">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sorgenti:</h2>
                    <#if (publication.sources?? && publication.sources?size>0)>
                        <table id="allSources"  class="table table-responsive">
                            <tr>
                                <th>
                                    Tipo
                                </th>
                                <th class="hidden-xs">
                                    URI
                                </th>
                                <th class="smallhidden">
                                    Formato
                                </th>
                                <th class="smallhidden">
                                    Descrizione
                                </th>
                            </tr>
                            <#list publication.sources as item>
                            <tr>
                                <td>
                                    ${strip_slashes(item.type)!"''"?html}
                                </td>
                                <td class="hidden-xs">
                                    ${strip_slashes(item.uri)!"''"?html}
                                </td>
                                <td class="smallhidden">
                                    ${strip_slashes(item.format)!"''"?html}
                                </td>
                                <td class="smallhidden">
                                    ${strip_slashes(item.description)!"''"?html}
                                </td>
                            </tr>
                            </#list>
                        </table>

                    <#else>
                        <span class="bold"> Non sono presenti sorgenti.</span>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-gallery">    
             <div class="row">
                <div class="col-lg-12">
                    <h2>Galleria di immagini</h2>
                    <#if publication.sources??>
                    <div class="gallerycontainer">
                        <#if (publication.sources?? && publication.sources?size>0)>
                            <div class="col-sm-6">
                                <#list publication.sources as item>
                                    <#if item.type.equals("immagine")>
                                    <div class="col-sm-4">
                                        <a class="thumbnail" href="#thumb"><img src="${strip_slashes(item.uri)?html}" />
                                            <span><img src="${strip_slashes(item.uri)?html}" /><br />${strip_slashes(item.description)?html}</span>
                                        </a>
                                    </div>
                                    </#if>
                                 </#list>
                            </div>
                            <div class="col-sm-8">
                                <div class=""></div>
                            </div>
                    </div>
                    <#else>
                        <span>Nessuna immagine presente.</span>
                    </#if>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-index">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Indice</h2>
                    <#if publication.index??>
                        <#if (publication.index?? && publication.index?size>0)>
                            <#list publication.index as item>
                            <ul class="nodecoration">
                                <li class="chapter-title">
                                    ${item.number!"''"?html}&nbsp;&nbsp;${strip_slashes(item.title)!"''"?html}
                                </li>
                                <#if (item.sections?? && item.sections?size>0) >
                                    <#list item.sections as item2>
                                        <ul class="nodecoration">
                                            <li>
                                                ${item.number!"''"?html}.${item2.number!"''"?html}&nbsp;${strip_slashes(item2.title)!"''"?html}
                                            </li>
                                        </ul>
                                    </#list>
                                </#if> 
                            </ul>
                            </#list>
                        <#else>
                        <span class='bold'> Nessun indice presente per la pubblicazione</span>
                        </#if>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-reprint">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Ristampe:</h2>
                    <#if (publication.reprints?? && publication.reprints?size>0) >
                    <table id="allReprints">
                        <tr>
                            <th>
                                Numero
                            </th>
                            <th>
                                Data
                            </th>
                        </tr>    
                        <#list publication.reprints as item>
                        <tr>
                            <td>
                                ${item.number!"''"?html}
                            </td>
                            <td>
                                ${item.date!"''"?html}
                            </td>
                        </tr>
                        </#list>      
                    </table>
                    <#else>
                    <span class="bold"> Non sono presenti ristampe.</span>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-review">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Ultima recensione </h2>
                    <div id="contentReview">
                        <#if (publication.reviews?? && publication.reviews?size>0)>
                            
                            <div class="review" id="lastReview">
                                <span class="bold"> 
                                    ${strip_slashes(publication.reviews?first.author.name)?html} ${strip_slashes(publication.reviews?first.author.surname)?html}
                                </span> 
                                &nbsp;${publication.reviews?first.reviewDate?datetime}

                                <div class="twelve columns justify">${strip_slashes(publication.reviews?first.text)?html}</div>
                            </div>
                            <#else>
                            <div id="lastReview">
                                Non ci sono ancora recensioni.
                            </div>
                           
                        </#if>
                    </div>
                </div>
                <div class="col-lg-12">
                <form id="formAddReview" method="post" action="review" class="margin-top-10">
                    <div class="form-group margin-top-5">
                        <label for="comment">Aggiungine una:</label>
                        <textarea class="form-control" id="textReview" name="textReview" rows="5" placeholder="Scrivi una Recensione"></textarea>
                    </div>
                    <#if errorReview??>
                    <div class="error">
                        ${errorReview?html}
                    </div>
                    </#if>

                    <div class="form-group">
                        <input id="publicationId" type="hidden" name="publicationId" value="${publication.key}" />
                        <span>
                            <input type="submit" name="addReview" value="Inserisci recensione" class="btn btn-default" />
                        </span>
                        <#if (publication.reviews?? && publication.reviews?size>0)>
                            <a href="review?publicationId=${publication.key}" class="btn btn-default" name="submitReview">Vedi tutte le recensioni</a>
                        </#if>

                    </div>
                </form> 
                </div>
            </div>
        </div>

        <!--
        <div id="linkreviews" class="row margin10"> 
        <#if ((numberReviewsToApprove??) && (numberReviewsToApprove>0)) && userRole >

        <#if (numberReviewsToApprove>1) >
            Ci sono ${numberReviewsToApprove} recensioni 
        <#else>
            C'&egrave; ${numberReviewsToApprove} recensione 
        </#if>
        da approvare. Clicca il link di seguito per andare alla pagina di tutte le recensioni ed approvarle&nbsp;

        </#if>
        <#if ((lastReview??) || (numberReviewsToApprove?? && numberReviewsToApprove>0))>
        <a href="publicationReviews?publicationId=${publication.id}">Vedi tutte le recensioni</a>
        </#if>
        </div>

        <div class="row">
        <#if (userRole?? && userRole)>

        <div class="three columns button">
            <a id="deletePublication" href="?deletePublication&publicationId=${publication.id}">Elimina</a>
        </div>

        <div class="three columns button">
            <a href="historyPublication?publicationId=${publication.id}">Vai allo storico</a>
        </div>

        </#if>
        -->

        </#if>
        <div class="">
            <a href="catalog" class="btn btn-default" name="submitCatalog">Torna al catalogo</a>
        </div>
    </div>
</div>

