<div class="container">
    <div class="pagePublicationDetails margin-top-50 margin-bot-30">
        
        <#include "/commons/notifyMessage.ftl.html">

        <#if publication??>
        <div class="section section-publication-tools">
            <#if me.state<2>
            <span class="custom-title">Gestione pubblicazione:</span>
            <div class="btn-group me-line" role="group" aria-label="...">
                <#if (me.state==0 || (me.state == 1 && me.key == publisher.key))>
                <a href="managePublication?publicationId=${publication.key}" class="btn btn-default" title="Modifica">
                    <i class="fa fa-pencil fa-custom" aria-hidden="true"></i>
                </a>

                <a href="managePublication?delete&publicationId=${publication.key}" class="btn btn-default" title="Cancella">
                    <i class="fa fa-trash-o fa-custom" aria-hidden="true"></i>
                </a>
                </#if>
                <a href="history?publicationId=${publication.key}" class="btn btn-default" title="Storico">
                    <i class="fa fa-history fa-custom" aria-hidden="true"></i>
                </a>
            </div>
            </#if>
        </div>
        
        <div class="section section-publication-conten margin-top-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <figure class="imageCard">
                        <#if publication.cover??>
                        <img src= "${strip_slashes(publication.cover.uri)?html}" alt="${strip_slashes(publication.cover.description)?html}" class="img-thumbnail img-responsive"/>
                        <#else>
                        <img src="img/book.png" alt="Copertina Default" class="img-thumbnail img-responsive"/>
                        </#if>
                    </figure>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="margin-top-10"> 
                        <#if (publication.authors?? && publication.authors?size>0)>
                            <#list publication.authors as item>
                                ${strip_slashes(item.name!'')?html} ${strip_slashes(item.surname!'')?html}<#if item.key != publication.authors?last.key>,</#if> 
                            </#list>
                            <#else> 
                            <span class="bold"> Non sono presenti autori</span>
                        </#if>
                    </div>
                    <div class="titlePublication">
                        <h1 class="title">
                            ${strip_slashes(publication.title!'')?html}
                        </h1>
                    </div>
                    <div class="publiher margin-top-10">
                        <span>Inserito da </span>
                        <#if publisher??>
                            ${strip_slashes(publisher.surname?html)?capitalize}&nbsp;${strip_slashes(publisher.name?html)?capitalize}
                        </#if>
                        <br/>
                        <span class="bold">Editore:</span>
                        <span class="resume">${strip_slashes(publication.editor.name)?html}</span> 
                        <br/>
                        <span class="">Isbn: </span> 
                        <span class='resume'>${publication.isbn?html}</span> 
                        <br/>
                        <span class="resume">${publication.publicationDate?string["dd-MM-yyyy"]}, pp. ${publication.pageNumber?html}</span>
                        <br/>
                        <span class="bold">Lingua: </span>
                        <span class="resume">${strip_slashes(publication.language)?html}</span> 
                        <br/>
                        <span class="bold">Keywords:</span>
                        <span class='resume'>
                        <#if (publication.keywords?? && publication.keywords?size>0)>
                            <#list publication.keywords as item>
                                ${strip_slashes(item.name)?html}&nbsp;
                            </#list>
                        <#else>
                            Nessuna keywords presente.
                        </#if>
                        </span>
                    </div>
                    <div id="advicesPublication" class="margin-top-30">
                        <#if !like>
                        <a href="details?like&publicationId=${publication.key}" class="btn btn-default margin-bot-10"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Vota</a>
                        <#else>
                        <div class="alert alert-info">Hai consigliato questa pubblicazione</div>
                        </#if>
                        <div class="margin-bot-10 bold"> 
                            <div>Numero consigli:&nbsp;<span id="numberAdvices">${publication.like}</span></div> 
                        </div>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="margin-top-30">
                        <h2>Autori</h2>
                        <#if (publication.authors?? && publication.authors?size>0)>
                            <ul class="nodecoration">
                                <#list publication.authors as item>
                                <li>${strip_slashes(item.name)!"''"?html}&nbsp;${strip_slashes(item.surname)!"''"?html}</li>
                                </#list>   
                            </ul>
                        <#else> 
                        <span class="bold"> Non sono presenti autori</span>
                        </#if>  
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="margin-top-30">
                        <span class="bold">Descrizione:</span>
                        <div class='resume'>${strip_slashes(publication.description!'Nessuna descrizione.')?html}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-sources">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sorgenti</h2>
                    <#if (publication.sources?? && publication.sources?size>0)>
                        <table id="allSources"  class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        URI
                                    </th>
                                    <th>
                                        Formato
                                    </th>
                                    <th>
                                        Descrizione
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <#list publication.sources as item>
                                <tr>
                                    <td>
                                        ${strip_slashes(item.type)!"''"?html}
                                    </td>
                                    <td>
                                        <a href="${strip_slashes(item.uri)}"  class="aItemCustom bold" target="_blank" name="submitReview">
                                        sorgente
                                        </a>
                                    </td>
                                    <td>
                                        ${strip_slashes(item.format)!"''"?html}
                                    </td>
                                    <td>
                                        ${strip_slashes(item.description)!"''"?html}
                                    </td>
                                </tr>
                                </#list>
                            </tbody>
                        </table>

                    <#else>
                        <span class="bold"> Non sono presenti sorgenti.</span>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-gallery">    
             <div class="row">
                <div class="col-lg-12">
                    <h2>Galleria di immagini</h2>
                    <#if publication.sources??>
                    <div class="gallerycontainer">
                        <#if (publication.sources?? && publication.sources?size>0)>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                <#list publication.sources as item>
                                    <#if item.type.equals("immagine")>
                                    <div class="col-sm-4 col-xs-12">
                                        <a class="thumbnail" href="${strip_slashes(item.uri)}" title="A grandezza naturale" target="_blank"><img src="${strip_slashes(item.uri)?html}" alt="immagine galleria"/>
                                            <div class="no-img hidden-xs anima"><img src="${strip_slashes(item.uri)?html}" class="img-responsive" alt="immagine galleria"/><br/>
                                                <span class="padding-left-5">${strip_slashes(item.description)?html}</span>
                                            </div>
                                        </a>
                                    </div>
                                    </#if>
                                </#list>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs gallery-info">
                                <div class="alert alert-description">Qui di lato potete osservare la gallery di immagini relative alla pubblicazione. Potrete ingrandirle semplicemete passando il cursore del vostro mouse sull'immagine che vi interessa osservare meglio! <br/> Buona visione. </div>
                            </div>
                        </div>
                        <#else>
                            <span class="bold">Nessuna immagine presente.</span>
                        </#if>
                    </div>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-7">
                <div class="section section-publication-index">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Indice</h2>
                            <#if publication.index??>
                            <div class="indexcontainer">
                                <#if (publication.index?? && publication.index?size>0)>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                    <#list publication.index as item>

                                        <div class="panel-heading" role="tab" id="heading${item.key}">
                                            <h4 class="panel-title">
                                            <a class="chapter-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse${item.key}" aria-expanded="true" aria-controls="collapse${item.key}">
                                                ${item.number!"''"?html}&nbsp;&nbsp;${strip_slashes(item.title)!"''"?html}
                                            </a>
                                            </h4>
                                        </div>
                                        <#if (item.sections?? && item.sections?size>0) >
                                        <div id="collapse${item.key}" class="panel-collapse collapse <#if item?is_first>in</#if>" role="tabpanel" aria-labelledby="heading">
                                        <#list item.sections as item2>
                                            <div class="panel-body">
                                                ${item.number!"''"?html}.${item2.number!"''"?html}&nbsp;${strip_slashes(item2.title)!"''"?html}
                                            </div>
                                        </#list>
                                        </div>
                                        </#if>

                                    </#list>
                                     </div>
                                </div>
                                <#else>
                                <span class="bold"> Nessun indice presente per la pubblicazione</span>
                                </#if>
                            </div>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="col-lg-offset-1 col-lg-4">
                <div class="section section-publication-reprint">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Ristampe</h2>
                            <#if (publication.reprints?? && publication.reprints?size>0) >
                            <table id="allReprints" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Numero
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                    </tr>   
                                </thead>
                                <tbody>
                                <#list publication.reprints as item>
                                    <tr>
                                        <td>
                                            ${item.number!"''"?html}
                                        </td>
                                        <td>
                                            ${item.date!"''"?html}
                                        </td>
                                    </tr>
                                </#list>    
                                </tbody>
                            </table>
                            <#else>
                            <span class="bold"> Non sono presenti ristampe.</span>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section section-publication-review">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Ultima recensione </h2>
                    <div id='contentReview'>
                        <#if (lastReviews?? && lastReviews?size>0)>
                        <#list lastReviews as item>
                        <div class="review row" id="lastReview${item.key}">
                            <div class="col-lg-4">
                                <span class="bold"> ${strip_slashes(item.author.name?html)?capitalize} ${strip_slashes(item.author.surname?html)?capitalize}</span> &nbsp;${item.reviewDate?datetime}
                            </div>
                            <div class="col-lg-8">
                                <div class="twelve columns justify">${strip_slashes(item.text)?html}</div>
                            </div>
                        </div>

                        </#list>
                        <#else>
                        <div id="lastReview" class="bold"> 
                            Non sono presenti recensioni.
                        </div>
                        </#if>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                <form id="formAddReview" method="post" action="review" class="margin-top-10">
                    <div class="form-group margin-top-5">
                        <label for="comment">Aggiungine una:</label>
                        <textarea class="form-control" id="textReview" name="textReview" rows="5" placeholder="Scrivi una Recensione"></textarea>
                    </div>
                    <#if errorReview??>
                    <div class="error">
                        ${errorReview?html}
                    </div>
                    </#if>

                    <div class="form-group">
                        <input id="publicationId" type="hidden" name="publicationId" value="${publication.key}" />
                        <span>
                            <input type="submit" name="addReview" value="Inserisci recensione" class="btn btn-default" />
                        </span>
                        <#if (publication.reviews?? && publication.reviews?size>0)>
                            <a href="review?publicationId=${publication.key}" class="btn btn-default" name="submitReview">Vedi tutte le recensioni
                                <#if (me.state<2 && countReview>0) >
                                <div class="badge badge-custom" title="Numero recensioni d'approvare">${countReview?html}</div>
                                </#if>
                            </a>
                        </#if>

                    </div>
                </form> 
                </div>
            </div>
        </div>
        <#else>
        <div>Si è verificato un errore, riprovare!</div>
        </#if>
        <a href="catalog" class="btn btn-default" name="submitCatalog">Torna al catalogo</a>
    </div>
</div>


