<div class="container">
    <div class="homePage">
        <#if uresStatus??>
        <div id="role"></div>
        </#if>
        <#if pageNotFound??>
        <div> La pagina richiesta non esiste </div>
        <#else>
        
        <#if logged??>
        <div class="section section-homePage-allert">     
            <div class="row margin-top-20">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Login effettuato con successo.
                    </div>
                </div>
            </div>
        </div>
        </#if>
        
        <div class="row "> 
            <div class="col-lg-8">
                <div class="section section-homePage-lastInsertPub">
                    <div id="last-insert">
                        <h1 class="center">Ultime pubblicazioni inserite</h1>
                        <#if (lastPublicationsInsert?? && lastPublicationsInsert?size>0)>
                        <div id="homePublication" class="row">
                            <#list lastPublicationsInsert as item>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="thebox-container">
                                    <a href="details?publicationId=${item.key}" class="publicationDetailsHome">
                                        <div class="thebox">
                                            <div class="thebox-image">
                                                <figure class="cover-pubb cap-bot imgHome">
                                                    <#if item.cover??>
                                                    <img src= "${strip_slashes(item.cover.uri)?html}" alt="${strip_slashes(item.cover.description)?html}" class="img-thumbnail img-responsive imageHome"/>
                                                    <#else>
                                                    <img src= "img/come.png" alt="Copertina Defualt" class="img-thumbnail img-responsive"/>
                                                    </#if>
                                                    <figcaption class="caption thebox-content">
                                                        <#if (item.title?length>45)><div class="bold">${item.title[0..41]?html}...</div><#else><div class="bold">${item.title?html}</div></#if>
                                                        <div class="padding-top-5">
                                                            <#if (item.authors?? && item.authors?size>0)>
                                                            <#list item.authors as item2>
                                                                ${strip_slashes(item2.name!'')?html} ${strip_slashes(item2.surname!'')?html}<#if item2.key != item.authors?last.key>,</#if> 
                                                            </#list>
                                                            </#if>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </#list>
                        </div>
                        <#else>
                        <span class="bold">Nessuna pubblicazione inserita di recente.</span>
                        </#if>
                    </div>
                </div>

                <div class="section section-homePage-lastInsertPub margin-bot-50">
                    <div id="last-update">
                        <h1 class="center">Ultime pubblicazioni modificate</h1>
                        <#if (lastPublicationsUpdate?? && lastPublicationsUpdate?size>0)>
                        <div id="homePublication" class="row">
                            <#list lastPublicationsUpdate as item>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="thebox-container">
                                     <a href="details?publicationId=${item.key}" class="publicationDetailsHome">
                                        <div class="thebox-image">
                                            <figure class="cover-pubb cap-bot imgHome">
                                                <#if item.cover??>
                                                <img src= "${strip_slashes(item.cover.uri)?html}" alt="${strip_slashes(item.cover.description)?html}" class="img-thumbnail img-responsive imageHome"/>
                                                <#else>
                                                <img src= "img/come.png" alt="Copertina Defualt" class="img-thumbnail img-responsive"/>
                                                </#if>
                                                <figcaption class="caption thebox-content">
                                                    <#if (item.title?length>45)><div class="bold">${item.title[0..41]?html}...</div><#else><div class="bold">${item.title?html}</div></#if>
                                                    <div class="padding-top-5">
                                                        <#if (item.authors?? && item.authors?size>0)>
                                                        <#list item.authors as item2>
                                                            ${strip_slashes(item2.name!'')?html} ${strip_slashes(item2.surname!'')?html}<#if item2.key != item.authors?last.key>,</#if> 
                                                        </#list>
                                                        </#if>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </#list>
                        </div>
                        <#else>
                        <span class="bold">Nessuna pubblicazione modificata di recente.</span>
                        </#if>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-offset-1 col-lg-3 search-box columnHome" id="searchBox">
                <div class="section section-homePage-research">
                    <div class="formResearch">
                        <form method="post" action="research">
                            <div class="right">
                                <h2>Ricerca pubblicazioni</h2>
                            </div>
                            <div class="form-group">
                                <label>Autore</label>
                                <input type="text" class="form-control" name="publicationAuthor" placeholder="Inserisci un autore">
                            </div>
                            <div class="form-group">
                                <label>Titolo</label>
                                <input type="text" class="form-control" name="publicationTitle" placeholder="Inserisci un titolo">
                            </div>
                            <div class="form-group">
                                <label>Keywords</label>
                                <input type="text" class="form-control" name="publicationKeyword" placeholder="Inserisci una Kewords/ISBN">
                            </div>
                            <div class="form-group">
                                <span>
                                    <input type="submit" value="Ricerca" name="submitResearch" class="btn btn-default">
                                    <a href="research" class="btn btn-default">Ricerca avanzata</a>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-3 search-box columnHome" id="activeUserBox">
                 <div class="section section-homePage-activeUser">
                    <div class="activeUser">
                        <div id="active-user" class="right">
                            <h2>Utenti pi&ugrave; collaborativi</h2>
                            <#if (activeUsers?? && activeUsers?size>0)>
                                <ul class="nodecoration">
                                <#list activeUsers as item>
                                    <li class="nodecoration">
                                        <a href="research?userId=${item.key}" class="userProfileHome itemMenu">${strip_slashes(item.name)}&nbsp;${strip_slashes(item.surname)}</a>
                                    </li>
                                </#list>
                                </ul>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
        </#if>
        </div>
        <#if passiveUser??>
        <div class="confirm">
            Registrati al sito per visualizzare gli altri contenuti o effettua il login
            <div class="margin-top-10">
                <a href="login">Login</a>
                <a href="registration">Registrati</a>
                <a href="home">Chiudi</a>
            </div>
        </div>
        </#if>
        <#if sesExp??>
        <div class="confirm">
            Probabilmente la sessione &egrave; scaduta oppure stai cercando di accedere ad una pagina riservata.. effettua di nuovo il login per accedere ai contenuti
            <button><a href="login">Login</a></button>
            <button><a href="home">Chiudi</a></button>
        </div>
        </#if>
        
        <#if passiveUser??>
        <div class="confirm">
            Registrati al sito per visualizzare gli altri contenuti o effettua il login
            <div class="margintop10">
            <a href="login">Login</a>
            <a href="registration">Registrati</a>
            <a href="status">Chiudi</a>
            </div>
        </div>
        <div class="oscure">
    
        </div>
        </#if>
        <#if sesExp??>
        <div class="confirm confirmbig">
            Probabilmente la sessione &egrave; scaduta oppure stai cercando di accedere ad una pagina riservata.. effettua di nuovo il login per accedere ai contenuti
            <button><a href="login">Login</a></button>
            <button><a href="status">Chiudi</a></button>

        </div>
        <div class="oscure">

        </div>
        </#if>
    </div>
</div>
