<div class="container">
    <div class="pageIndex">
        <div class="section section-pageIndex-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Gestione degli indici</h1>
                </div>
            </div>
        </div>
        
        <div class="section section-pageIndex-insertIndex">
            <div class="row">
                <div class="col-lg-12">   
                    <h3>Crea un indice della pubblicazione</h3>
                    <form method="post" action="index" id="formChapter" class="form-horizontal">     
                        <div class="form-group">
                            <label for="inputTitlec" class="col-sm-2 control-label bold">Titolo capitolo</label>
                            <div class="col-sm-6">
                                <input id="titlec" class="form-control" name="chapterTitle" placeholder="Inserisci il titolo del capitolo" />
                            </div>
                        </div>
                        <#if errorChapterTitle??>
                        <div class="error">
                            ${errorChapterTitle?html}
                        </div>
                        </#if>

                        <div class="form-group">
                            <label for="inputNumberc" class="col-sm-2 control-label bold">Numero del capitolo</label>
                            <div class="col-sm-6">
                                <input id="numverc" class="form-control" name="chapterNumber" placeholder="Inserisci il numero del captolo" />
                            </div>
                        </div>
                        <#if errorChapterNumber??>
                        <div class="error">
                            ${errorChapterNumber?html}
                        </div>
                        </#if>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiungi" name="submitIndex" type="submit" class="btn btn-default"/>
                                    <a href="publication" class="btn btn-default col-xs-offset-1" name="submitPublication">Torna indietro</a>
                                </span>
                            </div>
                        </div>
                    </form>
                    <#if errorChapter??>
                    <div class="error">
                        ${errorChapter?html}
                    </div>
                    </#if>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h3 class=""> Lista dei capitoli</h3>
                    <#if (chapters?? && chapters?size>0)>
                    <table id="allChapters" class="table">
                        <tr>
                            <th>
                                Numero
                            </th>
                            <th>
                                Titolo
                            </th>
                            <th></th>
                        </tr>
                        <#list chapters as item>
                            <tr>
                                <td>
                                    ${item.number!"''"?html}
                                </td>
                                <td>
                                    ${strip_slashes(item.title)!"''"?html}
                                </td>
                                <td>
                                    <a class="deleteChapter" href="#">Elimina</a>
                                </td>
                            </tr>
                        </#list>
                    </table>
                    <#else>
                    <span class="bold">Nessun capitolo presente.</span>
                    </#if>
                </div>
            </div>
        </div>
    </div>
</div>
