<div class="container">
    <div class="pageIndex">
        <div class="section section-pageIndex-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Gestione degli indici</h1>
                </div>
            </div>
        </div>
        
        <#include "/commons/notifyMessage.ftl.html">
        
        <div class="section section-pageIndex-insertChapter">
            <div class="row">
                <div class="col-lg-12">   
                    <h3>Aggiungi capitoli della pubblicazione</h3>
                    <form method="post" action="index" id="formChapter" class="form-horizontal">     
                        <div class="form-group">
                            <label for="inputNumberC" class="col-sm-2 control-label bold">Numero del capitolo</label>
                            <div class="col-sm-6">
                                <input id="inputNumberC" class="form-control" name="chapterNumber" placeholder="Inserisci il numero del capitolo" />
                            </div>
                            <#if errorChapterNumber??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorChapterNumber?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <label for="inputTitleC" class="col-sm-2 control-label bold">Titolo capitolo</label>
                            <div class="col-sm-6">
                                <input id="inputTitleC" class="form-control" name="chapterTitle" placeholder="Inserisci il titolo del capitolo" />
                            </div>
                            <#if errorChapterTitle??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorChapterTitle?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiungi" name="submitChapter" type="submit" class="btn btn-default"/>
                                </span>
                            </div>
                        </div>           
                    </form>
                    <#if errorChapter??>
                    <div class="error">
                        ${errorChapter?html}
                    </div>
                    </#if>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h3 class=""> Lista dei capitoli</h3>
                    <#if (chapters?? && chapters?size>0)>
                    <table id="allChapters" class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="col-edit-right">Numero</th>
                                <th>Titolo</th>
                                <th class="col-edit-right">Gestione</th>
                            </tr>
                        </thead>
                        <tbody>
                            <#list chapters as item>
                            <tr>
                                <td>
                                    ${item.number!"''"?html}
                                </td>
                                <td>
                                    ${strip_slashes(item.title)!"''"?html}
                                </td>
                                <td>
                                    <a class="deleteChapter aItemCustom bold" href="index?idChapter=${item.key}">Elimina</a>
                                </td>
                            </tr>
                            </#list>
                        </tbody>
                    </table>
                    <#else>
                    <span class="bold">Nessun capitolo presente.</span>
                    </#if>
                </div>
            </div>
        </div>
        
        <#if (chapters?? && chapters?size>0)>
        <div class="section section-pageIndex-insertSection">
            <div class="row">
                <div class="col-lg-12">   
                    <h3>Aggiungi sezioni della pubblicazione</h3>
                    <form method="post" action="index" id="formSection" class="form-horizontal"> 
                        <div class="form-group">
                            <label class="bold col-sm-2 control-label">Capitolo</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="chapter" >
                                <#if (chapters?? && chapters?size>0)>
                                    <#list chapters as item>
                                    <option value="${item.key!''?html}">${item.number!''?html}. ${item.title}</option>
                                    </#list>
                                </#if>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputNumbers" class="col-sm-2 control-label bold">Numero sezione</label>
                            <div class="col-sm-6">
                                <input id="inputNumberS" class="form-control" name="sectionNumber" placeholder="Inserisci il numero del capitolo" />
                            </div>
                            <#if errorSectionNumber??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorSectionNumber?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <label for="inputTitleS" class="col-sm-2 control-label bold">Titolo sezione</label>
                            <div class="col-sm-6">
                                <input id="insertTitleS" class="form-control" name="sectionTitle" placeholder="Inserisci il titolo del capitolo" />
                            </div>
                            <#if errorSectionTitle??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorSectionTitle?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiungi" name="submitSection" type="submit" class="btn btn-default"/>
                                </span>
                            </div>
                        </div>  
                    </form>
                    <#if errorSection??>
                    <div class="error">
                        ${errorSection?html}
                    </div>
                    </#if>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h3 class=""> Lista delle sezioni</h3>
                    <#if (chapters[0].sections.size()>0)>
                    <table id="allChapters" class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="col-edit-right">Numero</th>
                                <th>Titolo</th>
                                <th class="col-edit-right">Gestione</th>
                            </tr>
                        </thead>
                        <tbody>
                            <#list chapters as item>
                                <#list item.sections as item2>
                                <tr>
                                    <td>
                                        ${item.number!"''"?html}.${item2.number!"''"?html}
                                    </td>
                                    <td>
                                        ${strip_slashes(item2.title)!"''"?html}
                                    </td>
                                    <td>
                                        <a class="deleteSection aItemCustom bold" href="index?idSection=${item2.key}">Elimina</a>
                                    </td>
                                </tr>
                                </#list>
                            </#list>
                        </tbody>
                    </table>
                   <#else>
                    <span class="bold">Nessuna sezione presente.</span>
                    </#if>
                </div>
            </div>
        </div>
        </#if>
        <div class="margin-top-20 margin-bot-50">
            <span>
                <a href="${url}?publicationId=${publicationId}" class="btn btn-default" title="Tornando alla pubblicazione, e una volta salvata, potrai visualizzare l'indice appena inserito">Torna alla pubblicazione</a>
            </span>
        </div>
    </div>
</div>
