<!--
University of L'Aquila 2015/2016
BiblioManager project
Authors: Vincenzo Lanzieri, Angelo Iezzi
Professor: Giuseppe Della Penna
-->
<!-- 
<form method="post" action="signin">
    <input type="text" name="username" value=""/>
    <input type="submit" value="sign-in"/>
</form>
-->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <span class="login">Login</span>
                <a href="registration" class="registrati">registrati</a>
        </div>
    </div> 
    
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="login">
                <div class="row">
                    <div class="col-lg-3 bold">Email:</div> 
                    <input class="col-lg-5 email" name='email' type='email' value="${username!''?html}" placeholder="Inserisci indirizzo email"  />
                </div>
                <div class="row">
                    <div class="col-lg-3 bold">Password:</div> 
                    <input  class="col-lg-5" name="password" type="password" value="${password!''?html}"  placeholder="Inserisci password" />
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <span>
                            <input type="submit" value="sign-in" name="submitLogin" />
                        </span>
                    </div>
                </div>
            </form>
            <#if errorLogin??>
            <div class="error">
                ${errorLogin?html}
            </div>
            </#if>
        </div>
    </div>
</div>
