<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="center">Modifica pubblicazione</h1>
            <form method="post" action="managePublication" name='editPublication' class="form-horizontal">
                <input type="hidden" name="publicationId" value="${publicationId}"/>
                <div class="form-group">
                    <label for="editTitlePub" class="col-sm-2 control-label bold">Titolo</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="editTitlePub" type="text" class="form-control" name="publicationTitle" value="${publication.title!''?html}" placeholder="Modifica il titolo" />
                    </div>
                    <#if errorTitle??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorTitle?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="editIsbnPub" class="col-sm-2 control-label bold">ISBN (13 cifre)</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="editIsbnPub" type="text" class="form-control" name="publicationIsbn" value="${publication.isbn!''?html}" placeholder="Modifica l'isbn" />
                    </div>
                    <#if errorIsbn??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorIsbn?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="editPageNumberPub" class="col-sm-2 control-label bold">Numero pagine</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="editPageNumberPub" type="text" class="form-control" name="publicationPages" value="${publication.pageNumber!''?html}" placeholder="Modifica il numero delle pagine" />
                    </div>
                    <#if errorPageNumber??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorPageNumber?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="editDescriptionPub" class="col-sm-2 control-label bold">Descrizione</label>
                    <div class="col-sm-10 col-lg-6">
                        <textarea id="editDescriptionPub" class="form-control" name="publicationDescription" rows="4" placeholder="Modifica la descrizione">${publication.description!''?html}</textarea>
                    </div>
                    <#if errorDescription??>
                    <div class="error col-sm-offset-2 col-sm-10">    
                        ${errorDescription?html}    
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="editPublicationDatePub" class="col-sm-2 control-label bold">Data di pubblicazione</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="editPublicationDatePub" type="text" class="form-control" name="publicationDate" value="${publication.publicationDate?string["dd-MM-yyyy"]}" placeholder="Modifica l'anno di pubblicazione" />
                    </div>
                    <#if errorPublicationDate??>
                    <div class="error col-sm-offset-2 col-sm-10">    
                        ${errorPublicationDate?html}    
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="editLanguagePub" class="col-sm-2 control-label bold">Lingua</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="editLanguagePub" type="text" class="form-control" name="publicationLanguage" value="${publication.language!''?html}" placeholder="Modifica la lingua" />
                    </div>
                    <#if errorLanguage??>
                    <div class="error col-sm-offset-2 col-sm-10">    
                        ${errorLanguage?html}    
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Editore</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="editors" >
                        <#if (editors?? && editors?size>0)>
                            <#list editors as item>
                            <option value="${item.key!''?html}" <#if (publication.editor?? && publication.editor.key == item.key)>selected="selected"</#if>>${item.name!''?html}</option>
                            </#list>
                        </#if>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input value='Aggiungi nuovo editore' name='addEditor' type='submit' class="btn btn-default"/>
                    </div>
                    <#if errorEditor??>  
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorEditor?html}      
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Autore/i</label>
                    <div class="col-sm-6">
                        <#if (publication.authors?? && !publication.authors.isEmpty() && publication.authors?size>0)>
                        <ul class="list-group listitem">
                            <#list publication.authors as item>
                            <li class="list-group-item nodecoration">
                                ${item.name!''?html}&nbsp;${item.surname!''?html}
                                <a href="managePublication?publicationId=${publication.key}&unlinkAuthor=${item.key}"><i class="fa fa-times delateitem pull-right" aria-hidden="true"></i></a>
                            </li>
                            </#list>
                        </ul>
                        <#else>
                        <div class="padding-top-5">Nessun autore selezionato</div>
                        </#if>
                    </div>
                    <div class="col-sm-2">
                        <input value="Seleziona autore" name="addAuthor" type="submit" class="btn btn-default"/>
                    </div>
                    <#if errorAuthor??>  
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorAuthor?html}      
                      </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Keyword</label>
                    <div class="col-sm-6">
                        <#if (publication.keywords?? && !publication.keywords.isEmpty() && publication.keywords?size>0)>
                        <ul class="list-group listitem">
                            <#list publication.keywords as item>
                            <li class="list-group-item nodecoration">
                                ${item.name!''?html}
                                <a href="managePublication?publicationId=${publication.key}&unlinkKeyword=${item.key}"><i class="fa fa-times delateitem pull-right" aria-hidden="true"></i></a>
                            </li>
                            </#list>
                        </ul>
                        <#else>
                        <div class="padding-top-5">Nessuna parola chiave selezionata</div>
                        </#if>

                    </div>
                    <div class="col-sm-2">
                        <input value="Seleziona parola chiave" name="addKeyword" type="submit" class="btn btn-default"/>
                    </div>
                </div>
                <#if errorKeyword??>  
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorKeyword?html}      
                      </div>
                </#if>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input value="Modifica indice" name="addIndex" type="submit" class="btn btn-default"/>
                        <input value="Modifica risorse" name="addSource" type="submit" class="btn btn-default"/>
                        <input value="Modifica ristampe" name="addReprint" type="submit" class="btn btn-default"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>
                            <input value='Salva' name='submitPublication' type='submit' class="btn btn-default"/>
                        </span>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>
