<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
    <head>
        <title>${page_title!"Untitled page"?html}</title> 
        <!-- META -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- LINK -->
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="style/custom.css" type="text/css" />
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen"/>
        
    </head>
    <body>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"> 
                        <div class="col-lg-2"> 
                        <img src="img/libro.png" class="logo" alt="logo di BiblioManager"/>
                        </div>
                        <div class="col-lg-10">
                        <h1 class="title-site">BiblioManager</h1>
                        </div>
                    </div>

                    <div id="user-menu" class="col-lg-offset-4 col-lg-4">
                        <#if sessionId??>
                            <div class="col-lg-6">
                                <span id="sign-in" class="padding-all-10"><a class="nodecoration" href="logout">Logout</a> </span>
                            </div>
                            <div class="col-lg-6">
                                <span id="sign-up" class="padding-all-10">Benvenuto<span id="namelogged">${nameLogged?html}</span></span>
                            </div>
                        <#else>
                            <div class="col-lg-4">
                                <span id="sign-in" class="padding-all-10" ><a class="nodecoration" href="login">Login</a> </span>
                            </div>
                            <div class="col-lg-4">
                                <span id="sign-up" class="padding-all-10"><a class="nodecoration" href="registration">Registrati</a></span>
                            </div>
                        <div class="col-lg-4">
                                <span id="profile" class="padding-all-10"><a class="nodecoration" href="profile">Profilo</a></span>
                            </div>
                        </#if>
                    </div>
                </div> 
            </div>
        </header>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        <#list menu as item>
                            <li class=""><a class="" href="${item.link}">${item.label}</a></li>
                        </#list>
                    
                  </ul>
                    
                  <form class="navbar-right" role="search">
                   
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="pageContent">  
            <#include content_tpl>
        </div>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div >Copyright &copy; 2014 ${defaults.author}. Page compiled on ${compiled_on?datetime}</div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- SCRIPT -->
        <script type="text/javascript" src="script/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js">
        </script>
    </body>
</html>