<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="center">Aggiungi pubblicazione</h1>
            <form method="post" action="publication" name='insertPublication' class="form-horizontal">
                <div class="form-group">
                    <label for="inputTitlePub" class="col-sm-2 control-label bold">Titolo</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="inputTitlePub" type="text" class="form-control" name="publicationTitle" value="${publicationTitle!''?html}" placeholder="Inserisci il titolo" />
                    </div>
                </div>
                <#if errorPublicationTitle??>
                <div class="error">
                    ${errorPublicationTitle?html}
                </div>
                </#if>
                <div class="form-group">
                    <label for="inputIsbnPub" class="col-sm-2 control-label bold">ISBN (13 cifre)</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="inputIsbnPub" type="text" class="form-control" name="publicationIsbn" value="${publicationIsbn!''?html}" placeholder="Inserisci l'isbn" />
                    </div>
                </div>
                <#if errorPublicationIsbn??>
                <div class="error">
                    ${errorPublicationIsbn?html}
                </div>
                </#if>
                <div class="form-group">
                    <label for="inputPageNumberPub" class="col-sm-2 control-label bold">Numero pagine</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="inputPageNumberPub" type="text" class="form-control" name="publicationPages" value="${publicationPages!''?html}" placeholder="Inserisci il numero delle pagine" />
                    </div>
                </div>
                <#if errorPublicationPageNumber??>
                <div class="error">
                    ${errorPublicationPageNumber?html}
                </div>
                </#if>
                <div class="form-group">
                    <label for="inputDescriptionPub" class="col-sm-2 control-label bold">Descrizione</label>
                    <div class="col-sm-10 col-lg-6">
                        <textarea id="inputDescriptionPub" class="form-control" name="publicationDescription" rows="4" placeholder="Inserisci una descrizione">${publicationDescription!''?html}</textarea>
                    </div>
                </div>
                <#if errorPublicationDescription??>
                <div class="error">    
                    ${errorPublicationDescription?html}    
                </div>
                </#if>
                <div class="form-group">
                    <label for="inputPublicationDatePub" class="col-sm-2 control-label bold">Data di pubblicazione</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="inputPublicationDatePub" type="text" class="form-control" name="publicationDate" value="${publicationDate!''?html}" placeholder="Inserisci l'anno di pubblicazione" />
                    </div>
                </div>
                <#if errorPublicationDate??>
                <div class="error">    
                    ${errorPublicationDate?html}    
                </div>
                </#if>
                <div class="form-group">
                    <label for="inputLanguagePub" class="col-sm-2 control-label bold">Lingua</label>
                    <div class="col-sm-10 col-lg-6">
                        <input id="inputLanguagePub" type="text" class="form-control" name="publicationLanguage" value="${publicationLanguage!''?html}" placeholder="Inserisci la lingua" />
                    </div>
                </div>
                <#if errorPublicationLanguage??>
                <div class="error">    
                    ${errorPublicationLanguage?html}    
                </div>
                </#if>
                
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Editore</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="editors" >
                        <#if (editors?? && editors?size>0)>
                            <#list editors as item>
                            <option value="${item.key!''?html}" <#if (currentEditor?? && currentEditor == item.key)>selected="selected"</#if>>${item.name!''?html}</option>
                            </#list>
                        </#if>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input value='Aggiungi nuovo editore' name='addEditor' type='submit' class="btn btn-default"/>
                    </div>
                </div>
                <#if errorPublicationEditor??>  
                    <div class="error">
                        ${errorPublicationEditor?html}      
                      </div>
                </#if>
                
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Autore/i</label>
                    <div class="col-sm-6">
                        <#if (authors?? && !authors.isEmpty() && authors?size>0)>
                        <ul class="list-group listitem">
                            <#list authors as item>
                            <li class="list-group-item nodecoration">
                                ${item.name!''?html}&nbsp;${item.surname!''?html}
                                <a href="publication?unlinkAuthor=${item.key}"><i class="fa fa-times delateitem pull-right" aria-hidden="true"></i></a>
                            </li>
                            </#list>
                        </ul>
                        <#else>
                        <div class="padding-top-5">Nessun autore selezionato</div>
                        </#if>
                    </div>
                    <div class="col-sm-2">
                        <input value="Seleziona autore" name="addAuthor" type="submit" class="btn btn-default"/>
                    </div>
                </div>
                <#if errorPublicationAuthor??>  
                    <div class="error">
                        ${errorPublicationAuthor?html}      
                      </div>
                </#if>
                
                <div class="form-group">
                    <label class="bold col-sm-2 control-label">Keyword</label>
                    <div class="col-sm-6">
                        <#if (keywords?? && !keywords.isEmpty() && keywords?size>0)>
                        <ul class="list-group listitem">
                            <#list keywords as item>
                            <li class="list-group-item nodecoration">
                                ${item.name!''?html}
                                <a href="publication?unlinkKeyword=${item.key}"><i class="fa fa-times delateitem pull-right" aria-hidden="true"></i></a>
                            </li>
                            </#list>
                        </ul>
                        <#else>
                        <div class="padding-top-5">Nessuna parola chiave selezionata</div>
                        </#if>

                    </div>
                    <div class="col-sm-2">
                        <input value="Seleziona parola chiave" name="addKeyword" type="submit" class="btn btn-default"/>
                    </div>
                </div>
                <#if errorPublicationKeyword??>  
                    <div class="error">
                        ${errorPublicationKeyword?html}      
                      </div>
                </#if>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input value="Aggiungi indice" name="addIndex" type="submit" class="btn btn-default"/>
                        <input value="Aggiungi risorse" name="addSource" type="submit" class="btn btn-default"/>
                        <input value="Aggiungi ristampe" name="addReprint" type="submit" class="btn btn-default"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>
                            <input value='Salva' name='submitPublication' type='submit' class="btn btn-default"/>
                        </span>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>
