<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="center">Registrazione</h1>

            <form method="post" action="registration" class="form-horizontal">
                <div class="form-group">
                    <label for="inputUserNomeR" class="col-sm-2 control-label bold">Nome</label>
                    <div class="col-sm-10">
                        <input id="inputUserNomeR" type="text" class="form-control" name="name" value="${name!''?html}" placeholder="Inserisci il nome" />
                    </div>
                    <#if errorName??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorName?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="inputUserSurnameR" class="col-sm-2 control-label bold">Cognome</label> 
                    <div class="col-sm-10">
                        <input id="inputUserSurnameR" type="text" class="form-control" name="surname" value="${surname!''?html}" placeholder="Inserisci il cognome" />
                    </div>
                    <#if errorSurname??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorSurname?html}
                    </div>
                    </#if>
                 </div>
                <div class="form-group">
                    <label for="inputUserEmailR" class="col-sm-2 control-label bold">Email</label> 
                    <div class="col-sm-10">
                        <input id="inputUserEmailR" type="email" class="form-control" name="email" value="${email!''?html}"  placeholder="user@mail.it" />
                    </div>
                    <#if errorEmail??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorEmail?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="inputUserReEmailR" class="col-sm-2 control-label bold">Reinserire Email</label>
                    <div class="col-sm-10">
                        <input id="inpuUsertReEmailR" type="email" class="form-control" name="re-email" value="${repeatemail!''?html}"  placeholder="user@mail.it" />
                    </div>
                    <#if errorEmail??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorEmail?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="inputUserPasswordR" class="col-sm-2 control-label bold">Password</label> 
                    <div class="col-sm-10">
                        <input id="inputUserPasswordR" type="password" class="form-control" name="password"  value="${pass!''?html}"  placeholder="Inserisci password" />
                    </div>
                    <#if errorPassword??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorPassword?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <label for="inputUserRePasswordR" class="col-sm-2 control-label bold">Reinserire Password</label>
                    <div class="col-sm-10">
                        <input id="inputUserRePasswordR" type="password" class="form-control" name="re-password" value="${repeatPass!''?html}"  placeholder="Ripeti password" />
                    </div>
                    <#if errorPassword??>
                    <div class="error col-sm-offset-2 col-sm-10">
                        ${errorPassword?html}
                    </div>
                    </#if>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="privacy" /> 
                                Con l'invio del presente modulo acconsento al trattamento dei dati unicamente per la richiesta in oggetto. Consenso esplicito secondo il D.Lgs 196/2003.
                                <br/>
                            </label>
                        </div>
                    </div>
                    <#if errorPrivacy??>
                        <div class="error">
                            ${errorPrivacy?html}
                        </div>
                    </#if>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span>
                            <input type="submit" value="sign-up" name="submitRegistration" class="btn btn-default">
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
