<div class="container">
    <div class="pageReprint">
        <div class="section section-pageReprint-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Gestione delle ristampe</h1>
                </div>
            </div>
        </div>
        
        <#include "/commons/notifyMessage.ftl.html">
        
        <div class="section section-pageReprint-insertReprint">
            <div class="row">
                <div class="col-lg-12">            
                    <h3 class="row"> Aggiungi una ristampa</h3>
                    <form method="post" action="reprint" id="formReprint" class="form-horizontal">     
                        <div class="form-group">
                            <label for="inputReprintNumber" class="col-sm-2 control-label bold">Numero</label>
                            <div class="col-sm-6">
                                <input id="inputReprintNumber" class="form-control" name="reprintNumber" value="${reprintNumber!''?html}" placeholder="Inserisci numero ristampa" />
                            </div>
                            <#if errorReprintNumber??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorReprintNumber?html}
                            </div>
                            </#if>
                        </div> 
                        <div class="form-group">
                            <label for="inputReprintDate" class="col-sm-2 control-label bold">Data ristampa</label>
                            <div class="col-sm-6">
                                <input id="inputReprintDate" class="form-control" name="reprintDate" value="${reprintDate!''?html}" placeholder="Inserisci data ristampa" />
                            </div>
                            <#if errorReprintDate??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorReprintDate?html}
                            </div>
                            </#if>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiungi" name="submitReprint" type="submit" class="btn btn-default"/>
                                    <a href="${url}?publicationId=${publicationId}" class="btn btn-default col-sm-offset-1" name="submitPublication" title="Tornando alla pubblicazione, e una volta salvata, potrai visualizzare la lista delle ristampe">Torna alla pubblicazione</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="section section-pageReprint-listReprint">
             <div class="row">
                <div class="col-lg-12">
                    <h3> Lista delle ristampe</h3>
                    <form method="post" action="reprint" id="formSelectedReprint" class="form-horizontal">
                        <#if (reprints?? && reprints?size>0)>
                        <table id="allReprints" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-edit-right">
                                        Numero
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                    <th class="col-edit center">
                                        Gestisci
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <#list reprints as item>
                                <tr>
                                    <td>
                                        ${strip_slashes(item.number)!"''"?html}
                                    </td>
                                    <td class="hidden-xs">
                                        ${strip_slashes(item.date)!"''"?html}
                                    <td>
                                        <a href="reprint?reprintId=${item.key}&currentNumberReprint=${item.number}&currentDateReprint=${item.date}#anchor" class="aItemCustom bold padding-custom">Modifica</a>
                                        <a href="reprint?reprintToDelete=${item.key}" class="aItemCustom bold">Elimina</a>
                                    </td>
                                </tr>
                                </#list>
                            </tbody>
                        </table>
                        <#else>
                        <span class="bold">Nessuna ristampa presente.</span>
                        </#if>
                    </form>
                </div>
            </div>
            <#if (pages??&&pages.size()>0)>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="${first}" class="customPagination">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <#if previous??>
                    <li>
                        <a href="${previous}" class="customPagination">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    </#if>
                    <#list pages as item>
                    <li><a class="customPagination <#if (curr==item.key)>beigeBack</#if>" href="${item.value}">${item.key+1}</a></li>
                    </#list>
                    <#if next??>
                    <li>
                        <a href="${next}" class="customPagination">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    </#if>
                    <li>
                        <a href="${last}" class="customPagination">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            </#if>
        </div>
        
        <#if (reprintId>0)>
        <a name="anchor"></a>
        <div class="section section-pageReprint-editReprint">
            <div class="row">
                <div class="col-lg-12">
                    <h3> Modifica dati di ristampa</h3>
                    <form method="post" action="reprint" id="formReprintUpdate" class="form-horizontal">     
                        <div class="form-group">
                            <label for="updateReprintNumber" class="col-sm-2 control-label bold">Numero</label>
                            <div class="col-sm-6">
                                <input name="reprintId" value="${reprintId!''?html}" type="hidden"/>
                                <input id="updateReprintNumber" class="form-control" name="reprintNumber" value="<#if reprint.number==0><#else>${reprint.number!''?html}</#if>" placeholder="Modifica il numero di ristampa" />
                            </div>
                            <#if errorUpdateReprintNumber??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorUpdateReprintNumber?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <label for="updateReprintDate" class="col-sm-2 control-label bold">Data</label>
                            <div class="col-sm-6">
                                <input id="updateReprintDate" class="form-control" name="reprintDate" value="<#if reprint.date??>${reprint.date?string['dd-MM-yyyy']}</#if>" placeholder="Modifica la data di ristampa" />
                            </div>
                            <#if errorUpdateReprintDate??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorUpdateReprintDate?html}
                            </div>
                            </#if>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiorna" name="submitReprint" type="submit" class="btn btn-default"/>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </#if>  
    </div>
</div>
