<div class="container">
    <div class="pageReview">
        <div class="section section-pageReview-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Lista recensioni pubblicazione</h1>
                </div>
            </div>
        </div>
        
        <div class="section section-pageReview-allert">
            <#if reviewApproved??>
            <div class="row">
                <div class="col-lg-12">
                     <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Recensione approvata.
                     </div>
                </div>
            </div>
            </#if>
            <#if reviewRejected??>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Recensione rigettata.
                    </div>
                </div>
            </div>
            </#if>
        </div>

        <div class="section section-pageReview-listReview margin-bot-30"> 
            <div class="listReviews">
                <div class="row">
                    <div class="col-lg-12">
                        <#if (reviews??) && (reviews?size>0)>
                        <#list reviews as item>
                            <#if item.status>
                            <div class="review approvedReview margin-bot-20">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="bold">
                                            <a href="profile?userId=${item.key}" class="aItemCustom"> ${strip_slashes(item.author.name?html)?capitalize} ${strip_slashes(item.author.surname?html)?capitalize}</a>
                                        </span> &nbsp;${item.reviewDate}
                                        <div>${strip_slashes(item.text)?html}</div>
                                    </div>
                                </div>
                            </div>
                            <#else>
                                <#if me.state<2 >
                                    <div class="review alert notApprovedReview margin-bot-20">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span class="bold">
                                                    <a href="profile?userId=${item.key}" class="aItemCustom"> ${strip_slashes(item.author.name?html)?capitalize} ${strip_slashes(item.author.surname?html)?capitalize}</a>
                                                </span> &nbsp;${item.reviewDate} 
                                                - <span class="bold">Da moderare</span>
                                                <div>${strip_slashes(item.text)?html}</div>                  
                                                <#if item.author.key != me.key>
                                                    <div class="">
                                                        <a title="Approva" class="approveReview btn btn-default" href="review?r=1&reviewId=${item.key}&publicationId=${item.publicationKey}"><i class="fa fa-check green" aria-hidden="true"></i></a>
                                                        <a title="Elimina" class="deleteReview btn btn-default" href="review?r=0&reviewId=${item.key}&publicationId=${item.publicationKey}"><i class="fa fa-times dred" aria-hidden="true"></i></a>
                                                    </div>
                                                </#if>
                                            </div>
                                        </div>
                                    </div>
                                <#else>
                                    <#assign noModerateReviews = 1>
                                </#if>
                            </#if>
                        </#list>
                         <#else>
                            <div class="margin-bot-30">Nessuna recensione presente.</div>
                        </#if>
                        <#if noModerateReviews??>
                        <div class="margin-bot-30">Sono presenti delle recenzioni ancora da approvare.</div>
                        </#if>
                        <#if (pages??&&pages.size()>0)>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="${first}" class="customPagination">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <#if previous??>
                                    <li>
                                        <a href="${previous}" class="customPagination">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    </#if>
                                    <#list pages as item>
                                    <li><a class="customPagination <#if (curr==item.key)>beigeBack</#if>" href="${item.value}">${item.key+1}</a></li>
                                    </#list>
                                    <#if next??>
                                    <li>
                                        <a href="${next}" class="customPagination">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    </#if>
                                    <li>
                                        <a href="${last}" class="customPagination">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </#if>
                    <a href="details?publicationId=${publicationId}" class="btn btn-default">Torna alla pubblicazione</a>
                </div>
            </div>  
        </div>
    </div>
    </div></div>

