<div class="container">
    <div class="pageReview">
        <div class="section section-pageReview-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Lista recensioni pubblicazione</h1>
                </div>
            </div>
        </div>

        <div class="section section-pageReview-listReview"> 
            <div class="listReviews">
                <div class="row">
                    <div class="col-lg-12">
                        <#if (reviews??) && (reviews?size>0)>
                        <#list reviews as item>
                        <#if item.status>
                        <div class="review approvedReview margin-bot-20">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="bold">
                                        <a href="profile?userId=${item.key}" class="aItemCustom"> ${strip_slashes(item.author.name?html)?capitalize} ${strip_slashes(item.author.surname?html)?capitalize}</a>
                                    </span> &nbsp;${item.reviewDate}
                                    <div>${strip_slashes(item.text)?html}</div>
                                </div>
                            </div>
                        </div>
                        <#else>
                            <#if me.state<2 >
                        <div class="review notApprovedReview margin-bot-20">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="bold">
                                        <a href="profile?userId=${item.key}" class="aItemCustom"> ${strip_slashes(item.author.name?html)?capitalize} ${strip_slashes(item.author.surname?html)?capitalize}</a>
                                    </span> &nbsp;${item.reviewDate} 
                                    <span>- Da moderare</span>
                                    <div>${strip_slashes(item.text)?html}</div>                  
                                    <#if item.author.key != me.key>
                                        <div class="">
                                            <a title="Approva" class="approveReview btn btn-default" href="review?r=1&reviewId=${item.key}&publicationId=${item.publicationKey}"><i class="fa fa-check green" aria-hidden="true"></i></a>
                                            <a title="Elimina" class="deleteReview btn btn-default" href="review?r=0&reviewId=${item.key}&publicationId=${item.publicationKey}"><i class="fa fa-times dred" aria-hidden="true"></i></a>
                                        </div>
                                    </#if>
                                </div>
                            </div>
                            </div>

                             <#else>
                                <div>Non ci sono ancora recensioni approvate</div>
                            </#if>
                             </#if>
                        </#list>

                        </#if>
                        <!--
                        <#if (totpages?? && totpages>1)>
                        <div class="row pageBar">Vai alla pagina:         
                            <span id="paging">
                                <#list 1..totpages as page>
                                <#if (page == curpage)>
                                <span class="pagerCurrent">${page}</span>
                                <#else>
                                <a class="pagerLink" href="?page=${page}">${page}</a>
                                </#if>       
                                </#list>
                            </span>
                        </div>
                        </#if>
                        -->
                    <a href="details?publicationId=${publicationId}" class="btn btn-default">Torna alla scheda bibliografica</a>
                </div>
            </div>  
        </div>
    </div>
    </div></div>

