<div class="container">
    <div class="pageReview">
        <div class="section section-pageReview-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Lista recensioni pubblicazione</h1>
                </div>
            </div>
        </div>

        <div class="section section-pageReview-listReview"> 
            <div class="row">
                <div class="col-lg-12">
                    <div id="listReviews">
                    <#if (reviews??) && (reviews?size>0)>
                        <#list reviews as item>
                        <#if item.status>
                        <div class="review approvedReview">
                            <div class="">
                                <div class="">
                                    <span class="bold">
                                        <a href="profile?userId=${item.key}"> ${strip_slashes(item.author.name)?html} ${strip_slashes(item.author.surname)?html}</a>
                                    </span> &nbsp;${item.reviewDate}
                                </div>
                                <div class="">
                                    <div>${strip_slashes(item.text)?html}</div>
                                </div>
                            </div>
                        </div>
                        <#else>
                        <div class="review notApprovedReview">
                            <div class="fourteen columns">
                                <div class="row">
                                    <span class="bold">
                                        <a href="profile?userId=${item.key}"> ${strip_slashes(item.author.name)?html} ${strip_slashes(item.author.surname)?html}</a>
                                    </span> &nbsp;${item.reviewDate} <span>- Da moderare</span>
                                </div>
                                <div class="">
                                    <div>${strip_slashes(item.text)?html}</div>                  
                                </div>
                                <#if item.author.key != me.key>
                                    <div class="center">
                                        <a class="approveReview btn btn-default" href="review?r=1&reviewId=${item.key}&publicationId=${item.publicationKey}">Approva</a>
                                        <a class="deleteReview btn btn-default" href="review?r=0&reviewId=${item.key}&publicationId=${item.publicationKey}">Elimina</a>
                                    </div>
                                </#if>
                                </div>
                            </div>
                        </div>
                        </#if>
                        </#list>
                    <#else>
                    <div>Non ci sono ancora recensioni approvate</div>
                    </#if>
                    <!--
                    <#if (totpages?? && totpages>1)>
                    <div class="row pageBar">Vai alla pagina:         
                        <span id="paging">
                            <#list 1..totpages as page>
                            <#if (page == curpage)>
                            <span class="pagerCurrent">${page}</span>
                            <#else>
                            <a class="pagerLink" href="?page=${page}">${page}</a>
                            </#if>       
                            </#list>
                        </span>
                    </div>
                    </#if>
                    -->
                    <a href="details?publicationId = ${publicationId}">Torna alla scheda bibliografica</a>
                </div>
            </div>  
        </div>
    </div>
</div>
