<div class="container">
    <div class="pageSource">
        <div class="section section-pageSource-title"> 
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="center">Gestione delle risorse</h1>
                </div>
            </div>
        </div>
        <div class="section section-pageSource-allert">
            <#if sourceUpdated??>    
            <div class="row margin-top-20">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-dismissible fadeIn animated">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Modifica avvenuta con successo.
                    </div>
                </div>
            </div>
            </#if>
            <#if sourceAdded??>    
            <div class="row margin-top-20">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-dismissible fadeIn animated">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Inserimento avvenuto con successo.
                    </div>
                </div>
            </div>
            </#if>
        </div>
        
        <div class="section section-pageSource-insertSource">
            <div class="row">
                <div class="col-lg-12">   
                    <h3> Aggiungi una nuova risorsa</h3>
                    <form method="post" action="source" id="formSource" class="form-horizontal">     
                        <div class="form-group">
                            <label for="inputSourceType" class="col-sm-2 control-label bold">Tipo</label>
                            <div class="col-sm-6">
                                <input id="inputSourceType" class="form-control" name="sourceType" placeholder="Inserisci il tipo" />
                            </div>
                            <#if errorType??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorType?html}
                            </div>
                            </#if>
                        </div>

                        <div class="form-group">
                            <label for="inputSourceUri" class="col-sm-2 control-label bold">Indirizzo risorsa</label>
                            <div class="col-sm-6">
                                <input id="inputSourceUri" class="form-control" name="sourceUri" placeholder="Inserisci indirizzo risorsa" />
                            </div>
                            <#if errorUri??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorUri?html}
                            </div>
                            </#if>
                        </div>

                        <div class="form-group">
                            <label for="inputSourceFormat" class="col-sm-2 control-label bold">Formato</label>
                            <div class="col-sm-6">
                                <input id="inputSourceFormat" class="form-control" name="sourceFormat" placeholder="Inserisci il formato" />
                            </div>
                            <#if errorFormat??>
                            <div class="error col-sm-offset-2 col-sm-10">
                                ${errorFormat?html}
                            </div>
                            </#if>
                        </div>

                        <div class="form-group">
                            <label for="inputSourceDescription" class="col-sm-2 control-label bold">Descrizione</label>
                            <div class="col-sm-6">
                                <textarea id="inputSourceDescription" class="form-control" name="sourceDescription" rows="4" placeholder="Inserisci una descrizione"></textarea>
                            </div>
                            <#if errorDescription??>
                            <div class="error col-sm-offset-2 col-sm-10">    
                                ${errorDescription?html}    
                            </div>
                            </#if>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiungi" name="submitSource" type="submit" class="btn btn-default"/>
                                    <a href="${url}?publicationId=${publicationId}" class="btn btn-default col-xs-offset-1" name="submitPublication" title="Tornando alla pubblicazione, e una volta salvata, potrai visualizzare la lista delle risorse">Torna alla pubblicazione</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="section section-pageSource-listSources">
             <div class="row">
                <div class="col-lg-12">
                    <h3> Lista delle risorse</h3>
                    <form method="post" action="source" id="formSelectedSource" class="form-horizontal">
                        <#if (sources?? && sources?size>0)>
                        <table id="allSources" class="table table-responsive">
                            <tr>
                                <th>
                                    Tipo
                                </th>
                                <th class="hidden-xs">
                                    URI
                                </th>
                                <th class="smallhidden">
                                    Formato
                                </th>
                                <th class="smallhidden">
                                    Descrizione
                                </th>
                                <th class="col-edit hidden-xs">
                                    Gestisci
                                </th>

                            </tr>
                            <#list sources as item>
                            <tr>
                                <td>
                                    ${strip_slashes(item.type)!"''"?html}
                                </td>
                                <td class="hidden-xs">
                                    ${strip_slashes(item.uri)!"''"?html}
                                </td>
                                <td class="smallhidden">
                                    ${strip_slashes(item.format)!"''"?html}
                                </td>
                                <td class="smallhidden hidden-xs">
                                    ${strip_slashes(item.description)!"''"?html}
                                </td>
                                <td>
                                    <a href="source?sourceId=${item.key}&currentTypeSource=${item.type}&currentUriSource=${item.uri}&currentFormatSource=${item.format}&currentDescriptionSource=${item.description}#anchor" class="aItemCustom">Modifica</a>
                                </td>
                            </tr>
                            </#list>

                        </table>
                        <#else>
                        <span class="bold">Nessuna risorsa presente.</span>
                        </#if>
                    </form>
                </div>
            </div>
        </div>
        
        <#if (sourceId>0)>
        <a name="anchor"></a>
        <div class="section section-pageSource-editSources margin-bot-30">
            <div class="row">
                <div class="col-lg-12">   
                    <h3> Modifica risorsa</h3>
                    <form method="post" action="source" id="formSourceUpdate" class="form-horizontal">     
                        <div class="form-group">
                            <label for="updateSourceType" class="col-sm-2 control-label bold">Tipo</label>
                            <div class="col-sm-6">
                                <input name="sourceId" value="${sourceId!''?html}" type="hidden"/>
                                <input id="updateSourceType" class="form-control" name="sourceType" value="${currentTypeSource!''?html}" placeholder="Modifica il tipo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateSourceUri" class="col-sm-2 control-label bold">Indirizzo risorsa</label>
                            <div class="col-sm-6">
                                <input id="updateSourceUri" class="form-control" name="sourceUri" value="${currentUriSource!''?html}" placeholder="Modifica l'uri" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateSourceFormat" class="col-sm-2 control-label bold">Formato</label>
                            <div class="col-sm-6">
                                <input id="updateSourceFormat" class="form-control" name="sourceFormat" value="${currentFormatSource!''?html}" placeholder="Modifica il formato" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateSourceDescription" class="col-sm-2 control-label bold">Descrizione</label>
                            <div class="col-sm-6">
                                <input id="updateSourceDescription" class="form-control" name="sourceDescription" value="${currentDescriptionSource!''?html}" placeholder="Modifica la descrizione" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span>
                                    <input value="Aggiorna" name='submitSource' type="submit" class="btn btn-default"/>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </#if>
    </div>
</div>