<div class="container">
    <div class="pageCommunity">
        <div class="section section-pageCommunity-title"> 
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="center margin-bot-30">La nostra community</h1>
                </div>
            </div>
        </div>
        
        <div class="section section-pageCommunity-tools margin-bot-10">
            <div class="row">
                <div class="col-lg-12">
                    <div class="users-letter">
                        <ul class="letter-filter list-inline list-unstyled">
                            <li><a class="selected" href="community">Tutti</a></li>
                            <li>|</li>
                            <li><a class="first" href="community?filter=a">a</a></li>
                            <li><a class="" href="community?filter=b">b</a></li> 
                            <li><a class="" href="community?filter=c">c</a></li> 
                            <li><a class="" href="community?filter=d">d</a></li> 
                            <li><a class="" href="community?filter=e">e</a></li> 
                            <li><a class="" href="community?filter=f">f</a></li> 
                            <li><a class="" href="community?filter=g">g</a></li> 
                            <li><a class="" href="community?filter=h">h</a></li> 
                            <li><a class="" href="community?filter=i">i</a></li> 
                            <li><a class="" href="community?filter=j">j</a></li> 
                            <li><a class="" href="community?filter=k">k</a></li> 
                            <li><a class="" href="community?filter=l">l</a></li>
                            <li><a class="" href="community?filter=m">m</a></li>
                            <li><a class="" href="community?filter=n">n</a></li> 
                            <li><a class="" href="community?filter=o">o</a></li>
                            <li><a class="" href="community?filter=p">p</a></li> 
                            <li><a class="" href="community?filter=q">q</a></li> 
                            <li><a class="" href="community?filter=r">r</a></li>
                            <li><a class="" href="community?filter=s">s</a></li> 
                            <li><a class="" href="community?filter=t">t</a></li> 
                            <li><a class="" href="community?filter=u">u</a></li> 
                            <li><a class="" href="community?filter=v">v</a></li>
                            <li><a class="" href="community?filter=w">w</a></li> 
                            <li><a class="" href="community?filter=y">y</a></li> 
                            <li><a class="" href="community?filter=z">z</a></li>				
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <#include "/commons/notifyMessage.ftl.html">
 
        <div class="section section-pageCommunity-legend"> 
            <div class="row">
                <div class="col-lg-12">
                    <#if (me.state==0)>
                    <div class="legend margin-bot-30">
                        <span class="bold">Legenda: </span>
                        <span>Cliccando su <i class="fa fa-lg fa-angle-double-down degrade" aria-hidden="true"></i> si fa retrocedere un utente.</span>
                        <span>Cliccando su <i class="fa fa-lg fa-angle-double-up promote" aria-hidden="true"></i> si promuovere un utente.</span>
                    </div>
                    </#if>
                    <#if (me.state==1)>
                    <div class="legend margin-bot-30">
                        <span class="bold">Legenda: </span>
                        <span>Cliccando su <i class="fa fa-lg fa-angle-double-up promote" aria-hidden="true"></i> si promuove un utente.</span>
                    </div>
                    </#if>
                </div>
            </div>
        </div>
        
        <div class="section section-pageCatalog-users">   
            <div class="bold">Utente amministratore</div>
            <div class="row"> 
                <#if (admin??)>
                <div class="col-lg-12">
                    <ul class="nodecoration">
                        <li class="nodecoration margin-bot-30">
                            <#if admin.key==me.key>
                                <a href="profile" class="community-user itemCommunity">${strip_slashes(admin.surname?html)?capitalize}&nbsp;${strip_slashes(admin.name?html)?capitalize}</a>
                            <#else>
                                <a href="profile?userId=${admin.key}" class="community-user itemCommunity">${strip_slashes(admin.surname?html)?capitalize}&nbsp;${strip_slashes(admin.name?html)?capitalize}</a>
                            </#if>
                        </li>
                    </ul>
                </div>
                <#else>
                    Nessun utente amministratore presente.
                </#if>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bot-30">
                    <div class="bold">Utenti attivi</div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="nodecoration">
                            <#if (activeUsers?? && activeUsers?size>0)>
                                <#list activeUsers as item>
                                    <#if (item.state==1)>
                                        <li class="nodecoration">
                                            <#if item.key==me.key>
                                                <a href="profile" class="community-user itemCommunity">${strip_slashes(item.surname?html)?capitalize}&nbsp;${strip_slashes(item.name?html)?capitalize}</a>
                                            <#else>
                                                <a href="profile?userId=${item.key}" class="community-user itemCommunity">${strip_slashes(item.surname?html)?capitalize}&nbsp;${strip_slashes(item.name?html)?capitalize}</a>
                                            </#if>
                                            <#if (me.state==0)>
                                            <a href="community?op=2&user=${item.key}">
                                                <i class="fa fa-angle-double-down degrade" aria-hidden="true"></i>
                                            </a>
                                            </#if>
                                        </li>
                                    </#if>
                                </#list>
                            <#else>
                                <li class="nodecoration">Nessun utente attivo presente.</li>
                            </#if>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bot-30">
                    <div class="bold">Utenti passivi</div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="nodecoration">
                            <#if (activeUsers?? && activeUsers?size>0)>
                                <#list passiveUsers as item>
                                    <#if (item.state==2)>
                                        <li class="nodecoration">
                                            <#if item.key==me.key>
                                                <a href="profile" class="community-user itemCommunity">${strip_slashes(item.surname?html)?capitalize}&nbsp;${strip_slashes(item.name?html)?capitalize}</a>
                                            <#else>
                                                <a href="profile?userId=${item.key}" class="community-user itemCommunity">${strip_slashes(item.surname?html)?capitalize}&nbsp;${strip_slashes(item.name?html)?capitalize}</a>
                                            </#if>
                                            <#if (me.state<2)>
                                            <a href="community?op=1&user=${item.key}">
                                                <i class="fa fa-angle-double-up promote" aria-hidden="true"></i>
                                            </a>
                                            </#if>
                                        </li>
                                    </#if>
                                </#list>
                            <#else>
                                <li class="nodecoration">Nessun utente passivo presente.</li>
                            </#if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

